body {
    background-color: #fff;
}

.swiper-container,
.swiper-wrapper,
.mescroll {
    height: calc(100vh - 60rem);
}

.swiper-wrapper {
    position: relative;
}


.kefu_list>div:first-of-type {
    margin-top: 5rem;
}

.cat_box .categorys>div.sel {
    color: #fff;
    background-color: #F36E9F;
}