section {
    width: 100%;
    padding: 30rem 20rem 0 20rem;
}

section .title {
    font-weight: 600;
    padding-bottom: 10rem;
}

section.Balance .coinBox {
    width: 100%;
    padding: 20rem 10rem;
    margin: 0 auto;
    border-radius: 15rem;
    color: #fff;
    background: linear-gradient(to right, #FF8564, #FE4C66);
    display: flex;
    align-items: center;
}

section.Balance .coinBox .icon {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 40rem;
    box-sizing: border-box;
    border-radius: 50%;
}

section.Balance .coinBox .icon img {
    width: 70%;
}

section.Balance .coinBox .cnt {
    width: calc(100% - 40rem);
    min-height: 50rem;
    display: flex;
    justify-content: space-between;
}

section.Balance .coinBox .cnt>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.Balance .coinBox .cnt .info .desc {
    font-size: 12rem;
}

section.Balance .coinBox .cnt .info {
    margin-left: 15rem;
}

section.Balance .coinBox .cnt .detail .num .iconfont{
    font-size: 12rem;
}

section.Balance .coinBox .cnt .detail .operation{
    display: flex;
    justify-content: flex-end;
}

section.Balance .coinBox .cnt .detail .operation .charge {
    display: inline-block;
    width: 40rem;
    height: 20rem;
    font-size: 12rem;
    line-height: 20rem;
    text-align: center;
    border-radius: 15rem;
    background-color: #fff;
    color: #FE4C66;
}


section.costsLog .logs{
    border-radius: 6rem;
    box-shadow: 0 0 8px #ccc;
    margin: 5px 0;
}

section.costsLog .logs .log{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1rem solid #eee;
    padding: 10rem;
}

section.costsLog .logs .log .pull_left .xm{
    font-size: 14rem;
}

section.costsLog .logs .log .pull_left  .creaatime{
    margin-top: 3rem;
    font-size: 12rem;
}


section.costsLog .logs .log .res{
  font-size: 18rem;
}

section.costsLog .logs .log .res.add{
    color: #FE4F66;
}

section.costsLog .month .time{
    padding: 5rem 0;
    background-color: #F9F9F9;
    position: relative;
    padding-left: 15rem;
}

section.costsLog .month .time::before{
    content: '';
    display: inline-block;
    width: 3rem;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 6rem;
    background-color: #FE4C66;
    transform: translateY(-50%);
}