body {
    background-color: #EEEEF8;
    padding-top: 40rem;
    padding-bottom: 15rem;
}

/* 
   *轮播
 */
.swiper-container {
    width: 100vw;
    height: 200px;
}

.swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}

.mzSearch{
    width: 100vw;
    background: #FF6838;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.mzSearch .box{
    width: 90%;
    height: 80%;
    background-color: #fff;
    border-radius: 15rem;
    overflow: hidden;
}

.mzSearch .box input{
    width: 90%;
    height: 100%;
    background-color: #fff;
    margin-bottom: 0;
    font-size: 14rem;
    border: none;
}


/* 
   *公告
 */
.gongGao {
    display: flex;
    padding-left: 10rem;
    height: 30rem;
    line-height: 30rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.gongGao .pull_left {
    width: 30rem;
    flex-shrink: 0;
    color: var(--themeColor);
}

.gongGao .pull_left .icon-laba{
    font-size: 23rem;
}

.gongGao .content {
    width: calc(100vw - 30rem);
    overflow: hidden;
}

.gongGao .content .text {
    display: inline-block;
    color: black;
    white-space: nowrap;
    padding-right: 300px;
    margin-bottom: 0;
}

/* 
   *分类
 */

 section .title{
    font-size: 18rem;
    padding: 10rem;
 }

 .cat_box{
     background-color: #fff;
     padding: 10rem 0;
 }

.cat_box .categorys {
    width: 100%;
    display: flex;
    overflow: auto;
    background-color: #fff;
}

.cat_box .categorys::-webkit-scrollbar {
    display: none;
}

.cat_box .categorys>div {
    flex-shrink: 0;
    width: 15%;
    padding: 0 10rem;
    box-sizing: border-box;
    margin: 0 10rem;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16rem;
    border-radius: 5rem;
    background-color: #EBF1FA;
    color: #555;
}

/*
*推荐
*/
.recommend_box {
    padding-top: 7rem;
}